%h1.new-input
  予約一覧
.container.container-index
  = button_to "新規登録", 'trades/new',method: :get, class: "input-button"
  .info-container
    .info-name
      名前
    .info-date
      受付日
- @buyer.each do |buyer|
  %ul.buyer-container
    %li.buyer-name
      = buyer.buyer_name
    %li.reception-day
      = buyer.created_at
    %li.btn-index
      = link_to "詳細", 'trades/show', method: :get, class: "button-container"
      = link_to "編集", 'trades/edit', method: :get, class: "button-container"
      = link_to "削除", 'trades/#{trade.id}', method: :delete, class: "button-container", id: "delete"