%h1.new-input
  予約一覧
.container.container-index
  = link_to "新規登録", new_trade_path, class: "input-button"
  .info-container
    .info-name
      名前
    .info-date
      受付日
- @trade.each do |trade|
  %ul.buyer-container
    %li.buyer-name
      = trade.buyer
    %li.reception-day
      = trade.updated_at.strftime("%Y-%m-%d")
    %li.btn-index
      = link_to "詳細", trade_path(trade), class: "button-container"
      = link_to "編集", edit_trade_path(trade), class: "button-container"
      = link_to "削除", trade_path(trade), method: :delete, class: "button-container", id: "delete"