%h1.new-input
  予約詳細
.container
  %table.details-container
    %tr
      %th.details-information
        お客様名
      %td.details-form
        = @trade.buyer
      %th.details-information
        商品名
      %td.details-form
        = @trade.product
    %tr
      %th.details-information
        価格(税込)
      %td.details-form
        = @trade.price
      %th.details-information
        連絡
      %td.details-form
        = @trade.contact_data
    %tr
      %th.details-information
        担当者
      %td.details-form
        = @trade.staff
      %th.details-information
        電話番号
      %td.details-form
        = @trade.tel
    %tr
      %th.details-information
        支払い日
      %td.details-form
        = @trade.payment_date
      %th.details-information
        メモ
      %td.details-form
        = @trade.memo

  .btn-list
    = link_to "一覧", root_path, method: :get, class: "button-container"
    = link_to "編集", edit_trade_path(@trade), method: :get, class: "button-container"
    = link_to "削除", trade_path(@trade), method: :delete, data: { confirm: '削除しますか？' }, class: "button-container", id: "delete"
